.input_style{
  font-size: 20px;
   text-align: center;
}
.first_div{
  background-color: #ffffff;
  height: 130px;
  width: 100%;
  padding-left: 20px;
}
.valider{
  
  border-radius: 5px;
  border: solid 2px #ff7900;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: center;
  color:  #eeeeee;
  background-color: #ff7900;
  text-align: center;
}
.Dashboard-Liste-do {
  width: 100%;
  height: 17px;
  margin: 20px 393px 26px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.20px;
  color: #ff7900;
  font-family: 'Roboto', sans-serif;
  display: inline-block;  
}

.Dashboard-Liste-do .text-style-1 {
  color: #000000;
}

.Dashboard-Liste-do .text-style-2 {
  font-weight: normal;
  color: #999999;
}


.Dashboard-Liste-do2 {
  width: 100%;
  height: 17px;

   font-family: 'Roboto', sans-serif;;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.20px;
  color: #ff7900;
  font-family: 'Roboto', sans-serif;
  display: inline-block;  
}

.Dashboard-Liste-do2 .text-style-1 {
  color: #000000;
}

.Dashboard-Liste-do2 .text-style-2 {
  font-weight: normal;
  color: #999999;
}

.Liste-des-dossiers {
 
  height: 28px;
  margin: 0px 70px 20px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.15px;
  color: #000000;
  display: block;
}
.button_add{
float: right;
font-size: 35px;
width: 40px;
height: 40px;
margin-right: 50px;

}
.table_demande tr:hover td{
  background-color: #eeeeee;
  font-weight: bold;

  color: #000000;
}
.table_demande tr .options {
  display: none;
 }
.table_demande tr:hover  .options {
 display: block;
}

.icon_table{
  font-size: 20px;
  cursor: pointer;
}
.check_table {
  height: 21px;
  width: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid #cccccc;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: white;
  cursor: pointer;
}

.check_table:checked {

  background-color: white;

  border: 2px solid black;
  position: relative;
  z-index: 10;
}
thead span{
  width: 70px;
  height: 17px;
  margin: 0 0 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.03px;
  color: black;
}
.check_table:checked::after{
  background-color: orange;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: -1;
}

.modal-header {
  padding: 10px 20px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
 
}
.button_header{
width: 15px;
height: 15px;
border: solid 3px var(--white);
font-size: 20px;color: white;
}
.message_modal {


font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 0.09px;
color:black;
}
.form-control-label-modal{
color: black;
}
#id_work_days{
height: 44px;
border: none;
overflow: hidden;
}

.valider_modal{
   
  border: solid 2px #dddddd;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: center;
  color: white;
  background-color:#dddddd;

  
}
.annuler_modal{
  

  border: solid 2px black;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: center;
  color:  black;
  background-color:white;

  text-align: center;



}

.input_design{
  height: 35px;
  margin: 0px;
  padding: 11px 10px 12px 10px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.09px;
  color: #999999;
  font-family: 'Roboto', sans-serif;
  border: solid 2px #d0d2d3;
  background-color: white;
  width: 100%;
}

.input_design:focus{

  outline: none !important;
  border: solid 2px #ff7900;


}




